<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>

    <!-- include style css -->
    <link rel="stylesheet" href="/js/css/style.css">
    <style>
         .footer {
    position: sticky;   
    width: 100%;
    background-color: #cc2229;
    color: white;
    text-align: center;
    text-decoration: none;
    }
    a{
        margin-bottom: 0rem;
      color: #fff;
      text-decoration: none;
    }
    a:hover {
      cursor: pointer;
       color: blue;
       text-decoration: none;
       -ms-transform-origin-y: 0.5s all;
    }
      </style>

</head>
<body>
    <div class="wrapper_start">
     
        <div class="welcome_text">
            <div class="henkel_logo">
                <img src="/img/henkel-1-logo-svg-vector.svg" alt="">
            </div>            
            <form class="welcome_form_start" name="welcome_form" onsubmit="submitform(event)">
                <input type="text" name="name" placeholder="Name" required>
                <button type="submit">Start Quiz</button>
            </form>
        </div>
    </div>

    <div class="footer">
        <p>Powered By <a href="https://www.360brightmedia.com/">360 Brightmedia</a></p>
    </div>
    

    <script src="/js/js1/quiz.js"></script>
    <script src="/js/js1/user.js"></script>
</body>
</html>