<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Leaderboard</title>

    <link rel="stylesheet" href="/js/css/leaderboard.css">
</head>
<body>
    <!-- Leaderboard Start -->
    

<!-- points chart start -->
       
        
          <div>
            <table class="tabletop table-bordered text-center justify-content-center">
                <thead class="text-white align-items-center">
                  <tr>
                    <th class="table-head text-dark">Sr. No.</th>
                    <th class="table-head text-dark">Name</th>
                    <th class="table-head text-dark ">Points </th>
                    <th class="table-head text-dark">Time Taken</th>
                    
                  </tr> 
                </thead>
                <tbody class="bg-light">
                  <tr style="font-size: 1.3em; font-weight: 400">
                    <td>1</td>
                    <td class="text-left">Attend Seminar Hall Session (Minimum 45 mins)*</td>
                    <td>100</td>
                    <td>1</td>
                    
                  </tr>
                  <tr style="font-size: 1.3em; font-weight: 400">
                    <td scope="row">2</td>
                    <td class="text-left">Visit a stand in Expo Hall</td>
                    <td>50</td>
                    <td>5</td>
                   
                  </tr>
                  <tr style="font-size: 1.3em; font-weight: 500; color: black">
                    <td scope="row">3</td>
                    <td class="text-left">Watch Product Videos</td>
                    <td>25</td>
                    <td>16</td>
                    
                  </tr>
                  <tr style="font-size: 1.3em; font-weight: 500; color: black">
                    <td scope="row">4</td>
                    <td class="text-left">Download Product Brochures</td>
                    <td>25</td>
                    <td>18</td>
                    
                  </tr>
                  <tr style="font-size: 1.3em; font-weight: 500; color: black">
                    <td scope="row">5</td>
                    <td class="text-left">Take a Game at the Game Zone**</td>
                    <td>100</td>
                    <td>1</td>
                    
                  </tr>
                  <tr style="font-size: 1.3em; font-weight: 500; color: black">
                    <td scope="row">6</td>
                    <td class="text-left">Early Bird Entry***</td>
                    <td>50</td>
                    <td>1</td>
                    
                  </tr>
                  <tr class="font-weight-bold text-white thead">
                    <th scope="row" class="custome-table-border"></th>
                    <td class="custome-table-border-font custome-table-border">TOTAL</td>
                    <td class="custome-table-border-font custome-table-border"></td>
                    <td class="custome-table-border-font custome-table-border">42</td>
                    <td style="border-top:0px; border-left: 0px; border-bottom: 0px; border-right: 0px;" class="custome-table-border-font">1350</td>
                  </tr>
                </tbody>
            </table>
          </div>

         
        
</body>
</html>
