<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

     <!-- include style css -->
     <link rel="stylesheet" href="/js/css/style.css">
     <style>
         .footer {
    position: sticky;
    
    width: 100%;
    background-color: #fff;
    color: #cc2229;
    text-align: center;
    text-decoration: none;
    }
    a{
        text-decoration: none;
        color: #cc2229;
    }
    p{
        margin-bottom: 0rem;
        
    }
    a:hover{
        cursor: pointer;
        text-decoration: none;
        color: blue;
    }
      </style>

</head>
<body>
    <div class="wrapper">
        <div class="quiz">
            <div class="quiz_header">
                <div class="quiz_user">
                    <img src="/img/henkel-1-logo-svg-vector.svg" alt="" class="quiz_logo">
                    <h2>Welcome!      <span class="name"></span></h2>
                </div>
                <div class="quiz_timer">
                    <span class="time"id="countdowntimer"></span>
                </div>
        
            </div>
            <div class="quiz_body">
                <div id ="questions">
                    <!-- <h2>Q1. what is the full form of ram ?</h2>

                <ul class="option_group">
                    <li class="option">option 1</li>
                    <li class="option">option 2</li>
                    <li class="option">option 3</li>
                    <li class="option">option 4</li>
                </ul> -->
                </div>
                <button  id="next" class="btn-next" onclick="next()">Next Question</button>

            </div>
        </div>

    </div>

    <div class="footer">
        <p>Powered By <a href="https://www.360brightmedia.com/">360 Bright Media</a></p>
    </div>

    <script src="/js/js1/quiz.js"></script>
    <script src="/js/js1/timer.js"></script>
    <script src="/js/js1/user.js"></script>
</body>
</html>